html 
   head 
      link(rel="stylesheet", href="css/style.min.css")
   body 
      include html/header 
      main.page 
         h1 HI! 
         img(src="", alt="")
      include html/footer
      script (src='js/app.min.js')